@font-face {
  font-family: 'DrukWideCyTTSuper';
  src: url('../fonts/DrukWideCyTTBold.ttf') format('truetype'),
       url('../fonts/DrukWideCyTTBold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lovelace';
  src: url('../fonts/Lovelace-Medium.ttf') format('truetype'),
       url('../fonts/Lovelace-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

