@font-face {
  font-family: 'DrukWide';
  src: url('../fonts/DrukWide-Medium.ttf') format('truetype'),
       url('../fonts/DrukWide-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lovelace';
  src: url('../fonts/Lovelace-Medium.ttf') format('truetype'),
       url('../fonts/Lovelace-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

