//mixins
@mixin r($point) {
  @media (max-width: $point + px) {
    @content;
  }
}

@mixin rm($point) {
  @media (min-width: $point + px) {
    @content;
  }
}

//vars
$t3: .3s;
$t2: .2s;

$druk: 'DrukWideCyTTSuper';
$lovelace: 'Lovelace';

$d: 0.0694445vw;
//$d: 0.055vw;
$dModal: 0.055vw;

$m: 0.266525vw;

$white: #ffffff;
$black: #000000;